{% extends "layouts/master" %}

{% block content %}

    <div class="content">
        <a href="/plex" target="_blank">
            <div class="tile">
                <div class="valign">
                    Plex
                </div>
            </div>
        </a>
        <a href="/torrent" target="_blank">
            <div class="tile">
                <div class="valign">
                    Deluge
                </div>
            </div>
        </a>
        <a href="/graphs" target="_blank">
            <div class="tile">
                <div class="valign">
                    Server Monitoring
                </div>
            </div>
        </a>
        <a href="/pydio" target="_blank">
            <div class="tile">
                <div class="valign">
                    File Browser
                </div>
            </div>
        </a>
        <a href="/" target="_blank">
            <div class="tile">
                <div class="valign">
                    Home
                </div>
            </div>
        </a>
        <a href="/" target="_blank">
            <div class="tile">
                <div class="valign">
                    home
                </div>
            </div>
        </a>

    </div>



{% endblock %}