<head>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Voyager | {% if page_title is defined %} {{ page_title}} {% else %} Web Portal {% endif %}</title>
</head>